.container{
  padding-top: 200px;
  color: white;


}

h1{
  color: white;
  text-align: center;

}


.inscri{
  padding-left: 900px;
  padding-top: 50px;
  color: white;


}

button{
  margin-left: 500px;
  margin-top: 150px;


}

form{
  margin-left: 300px;



}
