
<h1>Se connecter</h1>

<div class="inscri"> Pas encore de compte? S'inscrire</div>
<div class="container">
  <form class="form-inline">
    <label class="sr-only" for="inlineFormInput">Username</label>
    <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Username">

    <label class="sr-only" for="inlineFormInputGroup">Password</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">

      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Password">
    </div>




    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div>
