
<ul>
  <li *ngFor="let team of teams">
    <input type="text" name="team.Nom" [(ngModel)]="team.Nom">
    <button (click)="updateTeam(team)">Modifier</button>
    <button (click)="deleteTeam(team)">Supprimer</button>
  </li>
</ul>
<p>Créer une nouvelle équipe: <input type="text" name="team_Nom" [(ngModel)]="team_Nom"><button (click)="createTeam(team_Nom)">Sauvegarder</button> </p>

<ul>
  <li *ngFor="let match of matches">
    {{match.equipe1}} vs {{match.equipe2}}
  </li>
</ul>

<ul>
  <li *ngFor="let pronostic of pronostics">
    {{pronostic.scoreEquipe1}} - {{pronostic.scoreEquipe2}}
  </li>
</ul>


<select [(ngModel)]="id">
  <option *ngFor="let team of teams" value="{{team.id}}">{{team.id}}</option>
</select>
<button (click)="getTeam(id)">Go</button>
<p *ngIf="team_unique">{{team_unique.Nom}}</p>
