<h2> Les équipes </h2>
<ul>
  <li *ngFor="let team of teams">
    <input type="text" name="team.Nom" [(ngModel)]="team.Nom">
    <button (click)="updateTeam(team)">Modifier</button>
    <button (click)="deleteTeam(team)">Supprimer</button>
  </li>
</ul>
<p>Créer une nouvelle équipe:
  <input type="text" name="team_Nom" [(ngModel)]="team_Nom">
  <button (click)="createTeam(team_Nom)">Sauvegarder</button>
</p>

<select [(ngModel)]="id">
  <option *ngFor="let team of teams" value="{{team.id}}">{{team.id}}</option>
</select>
<button (click)="getTeam(id)">Go</button>
<p *ngIf="team_unique"> L'équipe avec l'id {{id}} est : <b>{{team_unique.Nom}}</b></p>


<h2> Les matchs </h2>
<ul>
  <li *ngFor="let match of matches">
    {{match.nomEquipe1}} vs {{match.nomEquipe2}}
  </li>
</ul>

<h2> Les pronostics </h2>
<ul>
  <li *ngFor="let pronostic of pronostics">
    {{pronostic.scoreEquipe1}} - {{pronostic.scoreEquipe2}}
  </li>
</ul>


