<h1>Saisie d'un Match</h1>


<form class="form-inline">
  <label class="mr-sm-2" for="inlineFormCustomSelect">Groupe</label>
  <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    <option selected>...</option>
    <option value="1">A</option>
    <option value="2">B</option>
    <option value="3">C</option>
    <option value="1">D</option>
    <option value="2">E</option>
    <option value="3">F</option>
    <option value="1">G</option>
  </select>






  <form class="form-inline">
    <label class="mr-sm-2" for="inlineFormCustomSelect">Equipe</label>
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineForm">
      <option selected>...</option>
      <option value="1">Serpentard</option>
      <option value="2">Gryffondor</option>
      <option value="3">Poufsouffle</option>
      <option value="4">Serdaigle</option>
    </select>


    <button type="button" class="btn btn-outline-dark">Terminer</button>


</form>


