<h1>Admin</h1>


<div class="row">
  <div class="col-sm-4">
    <div class="card1">
      <button type="button" class="btn btn-outline-dark" href="#" routerLink="/liste">Verrouillage</button>

    </div>
  </div>
  <div class="col-sm-4">
    <div class="card2">
      <button type="button" class="btn btn-outline-dark" href="#" routerLink="/liste">Saisie Resultats</button>
    </div>
  </div>
      <div class="col-sm-4">
        <div class="card3">
          <button type="button" class="btn btn-outline-dark" routerLink="/new">Saisie matchs</button>



        </div>
  </div>
</div>



<br/>
<br/>
<br/>
