.container{
  padding-top: 100px;
}


h1{
  text-align: center;
  font-family: -apple-system;
  padding-top: 100px;
}

.card{
  margin-top: 150px;
  margin-left: 80px;


}

img{
  width: 160px;
  height: 200px;
  margin-left: 60px;

}


.prono{
  height: 200px;
  width: 1000px;
  border: 1px solid rgba(0,0,0,.125);
  position: relative;
  margin-left: 80px;
  border-radius: .25rem;
}
